/************************************************** Desktop Styles ********************************************************/
/*************************************************************************************************************************/

.appArea > h3 {
  font-size: 38px;
  font-weight: 700;
  color: #ef3e42;
  margin: 30px 0 20px 0;
}
.appArea:nth-child(2) {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
  width:490px;
  display:inline-block;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:first-child > p,
.appArea:nth-child(2) > table > tbody > tr > td:first-child > span{
  color:red;  
  margin-bottom:0px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > p,
.appArea:nth-child(2) > table > tbody > tr > td:nth-child(2) > label > span,
fieldset > legend > span > span {
  font-weight:bold;
  color:#555555;
  font-size:14px;
  margin-bottom:0px;
}
.Hint {
  color:#757575;
  font-weight:normal;  
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child,
.NetscapeFix {
  display:inline-block;
}
.radio {
  width:auto !important;
  margin-right:10px;
}

.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
.NetscapeFix > input {
  width:420px;
  padding:10px;
  margin-top:0px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select,
.NetscapeFix > select {
  width:445px;
  padding:10px;
  margin-top:0px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > textarea,
.NetscapeFix > textarea {
  width:430px;
  padding:10px;
  margin-top:0px;
}
fieldset > table > tbody > tr > td:last-child > label {
  color:#555555;
  font-size:15px;
}

.checkbox {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
.Button {
  border-radius:8px; 
  padding:10px;
  font-weight:normal;
}
.wrapable {
  word-wrap: break-word;
}


/*********************************************** RFH NL Volunteer Custom Styles *********************************************/
/***************************************************************************************************************************/

fieldset > table > tbody > tr:first-child > td:last-child > label {
  color:#555555;
  font-size:15px;
  font-weight:bold;
}
fieldset > table > tbody > tr:first-child > td:first-child {
  display:none;
}















/************************************************** Tablet/Ipad Styles*****************************************************/
/*************************************************************************************************************************/

@media only screen and (max-width:993px) {	
    .appArea:nth-child(2) > table > tbody > tr > td > table,
    .appArea:nth-child(2) {
      width:800px;
    }
    .appArea:nth-child(2) {
      margin-left:auto;
      margin-right:auto;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
    .NetscapeFix > input {
       width:300px;
       padding:10px;
       margin-top:0px;
    } 
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
       width:350px;
       display:inline-block;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select,
    .NetscapeFix > select {
      width:320px;
      padding:10px;
      margin-top:0px;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > textarea,
    .NetscapeFix > textarea {
      width:430px;
      padding:10px;
      margin-top:0px;
    }
}


@media only screen and (max-width:810px) {	
    .appArea:nth-child(2) > table > tbody > tr > td > table,
    .appArea:nth-child(2) {
      width:650px;
    }
    .appArea:nth-child(2) {
      margin-left:auto;
      margin-right:auto;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
    .NetscapeFix > input {
       width:270px;
       padding:10px;
       margin-top:0px;
    } 
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
       width:300px;
       display:inline-block;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select,
    .NetscapeFix > select {
      width:295px;
      padding:10px;
      margin-top:0px;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > textarea,
    .NetscapeFix > textarea {
      width:430px;
      padding:10px;
      margin-top:0px;
    }
}

@media only screen and (max-width:767px) {	
    .appArea {
      width:100%;
    }
    
    .appArea:nth-child(2) > table > tbody > tr > td > table,
    .appArea:nth-child(2) {
      width:100%;
    }
    .appArea:nth-child(2) {
      margin-left:auto;
      margin-right:auto;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
    .NetscapeFix > input {
       width:100%;
       padding:10px;
       margin-top:0px;
    } 
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
       width:100%;
       display:inline-block;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select,
    .NetscapeFix > select {
      width:100%;
      padding:10px;
      margin-top:0px;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > textarea,
    .NetscapeFix > textarea {
      width:100%;
      padding:10px;
      margin-top:0px;
    }
    .appArea > h3 {
      font-size: 24px;
      font-weight: 700;
      color: #ef3e42;
      margin: 30px 0 20px 0;
    }
}

@media only screen and (max-width:479px) {	
  .appArea > h3 {
      font-size: 18px;
      font-weight: 700;
      color: #ef3e42;
      margin: 30px 0 20px 0;
    }
    .appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > textarea,
    .NetscapeFix > textarea {
      width:auto;
    }
}
