.appArea > h3 {
  font-size: 38px;
  font-weight: 700;
  color: #ef3e42;
  margin: 30px 0 20px 0;
}
.appArea:nth-child(2) {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
  width:400px;
  display:inline-block;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:first-child > p {
  color:red;  
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > p {
  font-weight:bold;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child,
.NetscapeFix {
  display:inline-block;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
.NetscapeFix > input {
  width:350px;
  padding:10px;
  margin-top:-10px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select {
 padding:10px;
 margin-top:-10px;
}

