.appArea > h3 {
  font-size: 38px;
  font-weight: 700;
  color: #ef3e42;
  margin: 30px 0 20px 0;
}
.appArea:nth-child(2) {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table {
  width:1000px;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr{
  width:490px;
  display:inline-block;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:first-child > p,
.appArea:nth-child(2) > table > tbody > tr > td:first-child > span{
  color:red;  
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > p,
.appArea:nth-child(2) > table > tbody > tr > td:nth-child(2) > label > span,
fieldset > legend > span > span {
  font-weight:bold;
  color:#757575;
}
.Hint {
  color:#757575;
  font-weight:normal;  
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child,
.NetscapeFix {
  display:inline-block;
}
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > input,
.appArea:nth-child(2) > table > tbody > tr > td > table > tbody > tr > td:last-child > select,
.NetscapeFix > input,
.NetscapeFix > select{
  width:420px;
  padding:10px;
  margin-top:0px;
}
fieldset > table > tbody > tr > td:last-child > label {
  font-weight:bold; 
  color:#757575;
}



